@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin defineColors {
    background : var(--secondary-background);
    color : var(--primary-font-color);
}

@mixin gradient-background($start-color, $end-color) {
    background: linear-gradient(135deg, $start-color 0%, $end-color 100%);
    color: white;
    padding: 4em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        padding: 3em;
    }

    @media (max-width: 480px) {
        padding: 1em;
    }
}
  