$sidebar-width: 300px;
$collapsed-sidebar-width: 60px;

$main-background: #2D2F33;
$secondary-background: #272A2F;
$primary-font-color: white;
$primary-button-color: #f6f6ff;

$primary-hover-color: #353940;
$secondary-hover-color: rgba(255, 255, 0, 0.147);
$third-hover-color : #3B69C0;

$primary-active-color: rgba(255, 255, 0, 0.147);
$button-hover-color: #e8e7e7;

$light-main-background: #f5f5f5;
$light-secondary-background: #e0e0e0;
$light-primary-font-color: #333333;
$light-primary-button-color: #FFB74D;
$light-primary-hover-color: #ffb74d;
$light-secondary-hover-color: rgba(255, 255, 0, 0.147);
$light-primary-active-color: rgb(114, 201, 251);
$light-button-hover-color: #e8e7e7;

//spacing units

$spacing-unit : .7rem 1.5rem;

// Flex gaps
$gap-default : 2rem;
$gap-normal : 3rem;
$gap-large : 6rem;