$sidebar-width: 300px;
$collapsed-sidebar-width: 60px;

$main-background: #2D2F33;
$secondary-background: #272A2F;
$third-background : #131722;
$primary-font-color: white;
$primary-button-color: #f6f6ff;

$primary-hover-color: #353940;
$secondary-hover-color: rgba(255, 255, 0, 0.147);
$third-hover-color : #3B69C0;

$primary-active-color: rgba(255, 255, 0, 0.147);
$button-hover-color: #e8e7e7;
$button-active-color : #2F80E7;

//spacing units

$spacing-unit : .7rem 1.5rem;

// Flex gaps
$gap-default : 2rem;
$gap-normal : 3rem;
$gap-large : 6rem;