// Section that Effects Only Cards Section Not Header.

.cards__wrapper{
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-auto-flow: column;
    gap : 2rem;
    overflow-x: auto;
    scrollbar-width: none;

    &--fill{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
        grid-auto-flow: row;
    }

    &--discover{
        display: grid;
        grid-template-columns: repeat(4 , auto);
        grid-auto-flow: row;
        
        position: relative;
        min-width: 950px;

    }
}

.cards__wrapper.single-card {
    display: flex;
    padding: 0;
}

.results{
    display: flex;
    min-width: 1120px;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
}

.item{
    display: grid;
    align-content: start;
    justify-content: center;

    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;

    cursor: pointer;

    transition: background-color 0.3s ease;

    p{
        margin-top: -10px;
    }

    &:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 68%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        transition: background-color 0.3s ease;

        border-radius: 5px;
        }
}

.item > * {
    width: 100%;
    height: 90%;
}

.item img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}