.stats__section{
    display: flex;
    flex-direction: column;
    gap : 2rem;
}

.stats__wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap : 5rem;
}

.stats__card{
    display: flex;
    flex : 1;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding : 3em;
    gap : 2rem;

    background: #2c3e50;
    border-radius: 15px;

    width: 100%;
    max-width: 400px;
}

.most-watched-genres-wrapper {
    display: flex;
    align-items: center;
    gap : 1rem;
}

@media (max-width : 1024px) {
    .stats__wrapper {
        gap : 3rem;
    }
}

@media (max-width : 882px) {
    .stats__wrapper {
        flex-direction: column;
        padding : 1em;
    }

    .stats__card {
        aspect-ratio: initial;
    }

    .stats__card h3 {
        width: 100%;
        text-wrap: nowrap;
        text-align: center;
        max-width: none;
    }
}