.trending__section{
    width: 100%;
    min-height: 65vh;
    display: flex;
    flex-direction: row-reverse;
}

.hero__slider__section{
    display: flex;
    flex : 1;
    background-size: cover;
    background-position: center;
    
}

.trending__info__section{
    width: 60%;
    background: #131722;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.trending__info__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap : 2rem;
    height: 70%;
    
    p{
        max-width: 600px;
        text-align: center;
    }
}

.trending__buttons__section{
    display: flex;
    gap : 2rem;
}

@media (max-width : 1059px) {
    .trending__section {
        flex-direction: column;
    }

    .trending__info__section {
        width: 100%;
        padding: 2em;
        justify-content: center;
        gap : 3rem;
    }

    .trending__buttons__section {
        flex-direction: column;
        justify-content: center;
        flex : 1;
    }
}