@import './sass/helpers/variables';
:root {
    --sidebar-width: #{$sidebar-width};
    --collapsed-sidebar-width: #{$collapsed-sidebar-width};
    --main-background: #{$main-background};
    --secondary-background: #{$secondary-background};
    --third-background : #{$third-background};
    --primary-font-color: #{$primary-font-color};
    --primary-button-color: #{$primary-button-color};
    --primary-hover-color: #{$primary-hover-color};
    --secondary-hover-color: #{$secondary-hover-color};
    --primary-active-color: #{$primary-active-color};
    --button-hover-color: #{$button-hover-color};
}
