.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main__components{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin-top: 120px;
    overflow-x: auto;
}

.main__content{
    display: flex;
    flex-direction: column;
    gap : 2rem;
    overflow-x: auto;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.next__icons{
    display: flex;
    gap : 2rem;
    cursor: pointer;

    
}

.next__icons button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

    color : var(--primary-font-color);
}

.next__icons button:disabled svg{
    filter: grayscale(100%);
    opacity: 0.5;
}

.main__content h2{
    color : var(--primary-font-color);
    font-weight: bold;
}

.cards__wrapper{
    display: grid;
    gap : 1rem;
    flex: none;
    overflow-x: auto;
    scrollbar-width: none;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > *{
    scroll-snap-align: start;
}

.results{
    display: flex;
    min-width: 1120px;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
}

.cards__wrapper .item{
    display: grid;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.685);
    width: 250px;
    height: 350px;
}

.item img{
    width: 100%;
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.item__overlay{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: var(--secondary-hover-color);
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}

.item:hover .item__overlay{
    transform: translateY(0);
}

.details_button{
    padding: .7rem 1.2rem;
    border: none;
    border-radius: 100%;
    background: var(--primary-button-color);
    cursor: pointer;

    max-width: 48px;
    max-height: 48px;
}

.favorites_button{
    padding: .7rem;
    border: none;
    border-radius: 100%;
    background: var(--primary-button-color);
    cursor: pointer;
    transition: 0.15s ease-in;

    max-width: 48px;
    max-height: 48px;
}

.details_button:hover{
    background: var(--button-hover-color);
}
.details_button:active{
    background: var(--primary-font-color);
}

.favorites_button:hover{
    background: var(--button-hover-color);
}

.favorites_button:active{
    background: var(--primary-font-color);
}