.pagination{
    display: flex;
    width: 100%;
    padding: 40px;

    background: wheat;
    justify-content: center;
    align-items: center;

    margin-top: 70px;
}

.pagination__section{
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.pag-button{
    cursor: pointer;
    border-radius: 50px ;
    border: none;
    min-width: 20px;
    padding: .025rem;
    background: white;
    color: rgb(90, 78, 54);
}

.pag-button.active{
    background: rgb(188, 28, 28);
    color: white;
}