@import '../../../sass/helpers/mixins';
.dropdown__navigates{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 95%;
    height: 100%;
}

.navigate__dropdown__movie__section , 
.navigate__dropdown__discover 
, .navigate_dropdown__genres {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2rem;
    gap : 1.5rem;

    height: 450px;

    overflow: hidden;
}

.navigate__dropdown__discover 
, .navigate_dropdown__genres{
    border-left: 1px solid rgba(0, 0, 0, 0.336);
}

.genres__name{
    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    gap : .75rem;
}