// Imports 
@import '../helpers/variables';
@import '../helpers/mixins';
@import '../tools/placeholder';
@import '../base/typography';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  transition: 0.05s;
  
}

// App
.app {
    background: var(--main-background);
    color : var(--primary-font-color);
}

// Containers
.slide__container {
    margin-left: var(--sidebar-width);
    padding: 2rem;
    width: 90%;
}

.main__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 200px;
}

// Buttons
.primary-button{
    @extend %button-base;
    background: var(--primary-button-color);
    color : var(--main-background);
    border : none;

    &:hover{
        background: var(--button-hover-color);
    }
}

.secondary-button{
    @extend %button-base;
    background: none;
    color : var(--primary-font-color);
    border : 2px solid var(--primary-font-color);

    &:hover{
        background: var(--primary-hover-color);
    }

}

.ellipse-button{
    max-width: 48px;
    max-height: 48px;

    border: none;
    border-radius: 100%;
    background: var(--primary-button-color);
    cursor: pointer;

    @include flexCenter;

    &:hover{
        background: $third-hover-color;
    }

    &:active{
        background: var(--primary-font-color);
    }

    &--favorites {
        padding: .7rem;
        background: #2A54A1;

        &:active{
            background: #2A54A1;
        }
    }

    &--scroll {
        padding: .25rem;
        background: none;
        
    }

    &--main {
        width: 36px;
        height: 36px;
        background : #2A54A1;
    }
}