@import '../../sass/helpers/variables';
@import '../../sass/helpers/mixins';

.dropdown {
    position: relative;
    display: inline-block;
    padding: .4rem .7rem;
}

.all-dropdowns{
    display: flex;
    align-items: start;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100%;
}

.dropdown-button {
    cursor: pointer;
    color : var(--primary-font-color);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 200;
    border-radius: 4px;
    background: var(--main-background);
    overflow-y :auto;
}

.sortby__section{
    @include flexCenter;
    gap: $gap-default;
    background: #131722;
    padding: 1rem;

    border-radius: 30px;

    button{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;

        color : var(--primary-font-color);
        padding: .35rem;
        border-radius: 30px;

        &:hover{
            background: $button-active-color;
        }

        &.active{
            background: $button-active-color;
        }
    }
}

.profile-list-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3 svg{
        display: none;
    }

}

.profile-list-items ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;

    li{
        width: 100%;
        padding: .7rem;
        min-width: 100px;
        
        &.active{
            background: var(--primary-active-color);
        }   
    }
   
}

.filters-filter{
    display: flex;
    gap : 2rem;
    width: 100%;
}

@media (max-width : 450px){

    .profile-list-items ul li , .items .list-items li a{
        font-size: .8rem;
    }

    .profile-list-items ul{
        justify-content: space-evenly !important;
    }

}
