@import '../../sass/helpers/variables';
@import '../../sass/helpers/mixins';

.dropdown {
    position: relative;
    display: inline-block;
}

.all-dropdowns{
    display: flex;
    align-items: start;
    align-items: center;
    justify-content: space-evenly;

    gap : 1rem;
    width: 100%;
}

.dropdown-button {
    cursor: pointer;
    color : var(--primary-font-color);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1em;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 200;
    background: var(--main-background);
    border-radius: 4px;
    overflow: hidden;

    &.show{
        opacity: 1;
        visibility: visible;
        overflow: auto;
    }
  }

.sortby__section{
    @include flexCenter;
    gap: $gap-default;
    padding: 1rem;
    background: #393c41;
    border-radius: 30px;

    button{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;

        color : var(--primary-font-color);
        padding: .45em;
        border-radius: 15px;
        transition: background-color 0.15s ease, color 0.15s ease, transform 0.3s ease;
        transform: scale(1);  // Ensure buttons start at normal scale

        &:hover{
            background: $button-active-color;
        }

        &.active{
            background: $button-active-color;
            transform: scale(1.06);
            color: var(--secondary-font-color);
        }
    }
}

.profile-list-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3 svg{
        display: none;
    }

}

.profile-list-items ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;

    li{
        width: 100%;
        padding: .7em;
        min-width: 100px;
        
        &.active{
            background: var(--primary-active-color);
        }   
    }
   
}

.filters-filter{
    display: flex;
    gap : 2rem;
    width: 100%;
}

@media (max-width : 900px) {
    .all-dropdowns {
        flex-direction: column-reverse;
    }

    .dropdown-filters {
        display: flex;
        gap : 2rem;
        width: 100%;
    }
}

@media (max-width : 620px) {
    .dropdown-filters {
        align-items: center;
        justify-content: center;
    }

    .sortby__section {
        gap : 1rem;

        button {
            font-size: .6rem;
        }
    }
}

@media (max-width : 450px){

    .profile-list-items ul li , .items .list-items li a{
        font-size: .8rem;
    }

    .profile-list-items ul{
        justify-content: space-evenly !important;
    }

}
