.dropdown {
    position: relative;
    display: inline-block;
    padding: .4rem .7rem;
}

.dropdown-button {
    cursor: pointer;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    height: auto;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    border-radius: 4px;

    color: var(--primary-font-color);
    background: var(--main-background);
    overflow :auto;
    
}

.profile-list-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.profile-list-items ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.profile-list-items li {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: .7rem;

    cursor: pointer;
    min-width: 100px;
    
}

.profile-list-items h3 svg{
    display: none;
}

.filters-filter{
    display: flex;
    gap : 2rem;
}

.profile-list-items li:hover{
    background: var(--primary-hover-color);
}

.profile-list-items li.active{
    background: var(--primary-active-color);
}

@media (max-width : 450px){

    .profile-list-items ul li , .items .list-items li a{
        font-size: .8rem;
    }

    .profile-list-items ul{
        justify-content: space-evenly !important;
    }

}
