.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main__components{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin-top: 120px;
    overflow-x: auto;
}

.main__content{
    display: flex;
    flex-direction: column;
    gap : 2rem;
    overflow-x: auto;
}

.header-filters{
    display: flex;
    gap : 2rem;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.next__icons{
    display: flex;
    gap : 2rem;
    cursor: pointer;
}

.next__icons button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

    color : var(--primary-font-color);
}

.next__icons button:disabled svg{
    filter: grayscale(100%);
    opacity: 0.5;
}

.main__content h2{
    color : var(--primary-font-color);
    font-weight: bold;
}

.cards__wrapper{
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-auto-flow: column;
    gap : 1rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.cards__wrapper.default-grid{
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-auto-flow: row;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > *{
    scroll-snap-align: start;
}

.results{
    display: flex;
    min-width: 1120px;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
}

.item{
    display: grid;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.685);
    width: 250px;
    height: 350px;
}

.item > * {
    width: 100%;
    height: 100%;
}

.item img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.item__overlay{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: var(--secondary-hover-color);
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}

.item:hover .item__overlay{
    transform: translateY(0);
}

.details_button{
    padding: .7rem 1.2rem;
    border: none;
    border-radius: 100%;
    background: var(--primary-button-color);
    cursor: pointer;

    max-width: 48px;
    max-height: 48px;
}

.favorites_button{
    padding: .7rem;
    border: none;
    border-radius: 100%;
    background: var(--primary-button-color);
    cursor: pointer;
    transition: 0.15s ease-in;

    max-width: 48px;
    max-height: 48px;
}

.details_button:hover{
    background: var(--button-hover-color);
}
.details_button:active{
    background: var(--primary-font-color);
}

.favorites_button:hover{
    background: var(--button-hover-color);
}

.favorites_button:active{
    background: var(--primary-font-color);
}

@media (max-width : 660px){
    .slide__container{
        margin-left: 0px !important;
    }

    .header__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__wrapper h2{
        font-size: 1.2rem;
    }

    .next__icons{
        display: none;
    }
}

@media (max-width : 450px){
    .item{
        width: 90px;
        height: 160px;
    }

    .item__overlay{
        width: 100%;
        height: 100%;
    }

    .item__overlay .favorites_button , .details_button{
        width: 24px;
        height: 24px;
        padding: 0;

        font-size: .7rem;
        text-align: center;
    }

    .cards__wrapper{
        display: grid;
        grid-template-columns: repeat(4 , auto);
        grid-auto-flow: column;
        gap : 1rem;
        
    }
}