@import '../helpers/variables';
@import '../helpers/mixins';

.navbar{
    @include defineColors;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 2.6rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar__left{
    display: flex;
    align-items: center;
    width: 100%;
    gap : 2rem;
}

.dropdown[data-dropdown-type="navbar"] {
    width: 50%;
}

.navbar-input{
    border-radius: 5px;
    border : none;
    width: 100%;
    padding: .5em;
    font-size: .9rem;
    outline: none;
    color : black;
}

.profile{
    border-radius: 100%;
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    cursor: pointer;
}

.items{
    .list-items{
        @include flexCenter;
        gap : $gap-large;
    }
}

.link{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    gap : 2rem;
    position: absolute;
    background: var(--secondary-background);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 12px 16px;
    z-index: 1;
    
    overflow-y: auto;
    width: calc(100% + 50%);
    height: 80vh;

    h2{
        width: 100%;
        
        @include flexCenter;
        padding: 2rem;
    }
    
  }

.dropdown__elements{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    gap : 1rem;
}

.dropdown__item{
    display: flex;
    align-items: center;
    gap : 1rem;
    background: var(--secondary-background);
    padding: .7rem;
    border-radius: 5px;
    &:hover{
        background: var(--primary-hover-color);
        cursor: pointer;
    }
}

.item-image img{
    width: 128px;
    height: 128px;
    object-fit: contain;
}

.hamburger-menu {
    display: none;
}

.navbar-movie-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width : 1124px) {
    .items .list-items {
        gap : 2rem;
    }

    .navbar__header{
        font-size: clamp(1.5rem, 3vw, 2rem);
    }
}

/* Hamburger Menu */

@media (max-width : 768px) {
    .hamburger-menu {
        display: block;
    }

    .list-items {
        position: fixed;
        inset : 0 0 0 40%;
        background-color: var(--secondary-background);

        display: flex;
        flex-direction: column;
        opacity: 0;
        z-index: -1000;
        transition: opacity 0.3s ease;
        pointer-events: none;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }

    .mobile-navbar-menu-list {
        display: flex;
        flex-direction: column;
        gap : 2rem;
    }
}

@media (max-width : 568px) {
    .navbar {
        padding: 1.8em;
    }

    .navbar__header {
        font-size: 1.3rem;
    }

    .dropdown[data-dropdown-type="navbar"] {
        width: 85%;
    }

    .navbar__left {
        flex-direction: column;
        align-items: start;
        gap : 1rem
    }

    .dropdown__item {
        gap : 0;
        padding: 0;
    }
}
