@import '../helpers/variables';
@import '../helpers/mixins';

.navbar{
    @include defineColors;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 2.6rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar__left{
    @include flexCenter;
    gap : $gap-normal;
}

.navbar-input{
    border-radius: 5px;
    border : none;
    padding: 5px;
    font-size: 14px;
    outline: none;

    width: 400px;
    color : black;
}

.profile{
    border-radius: 100%;
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    cursor: pointer;
}

.items{
    .list-items{
        @include flexCenter;
        gap : $gap-large;
    }
}

.link{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    gap : 2rem;
    position: absolute;
    background: var(--secondary-background);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 12px 16px;
    z-index: 1;
    
    overflow-y: auto;
    width: calc(100% + 50%);
    height: 80vh;

    h2{
        width: 100%;
        
        @include flexCenter;
        padding: 2rem;
    }
    
  }

.dropdown__elements{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    gap : 1rem;
}

.dropdown__item{
    display: flex;
    align-items: center;
    gap : 1rem;
    background: var(--secondary-background);
    padding: .7rem;
    border-radius: 5px;
    &:hover{
        background: var(--primary-hover-color);
        cursor: pointer;
    }
}

.item-image img{
    width: 128px;
    height: 128px;
    object-fit: contain;
}

@media (max-width : 964px){
    .navbar__header{
        min-width: 200px;
        font-size: 1.5rem;
    }
    .items .list-items{
        gap : 2rem;
    }

    .navbar-input{
        width: 300px;
    }
}

@media (max-width : 812px){
    .navbar-input{
        width: 200px;
    }
}

@media (max-width : 660px){
    .navbar__header{
        font-size: 1.3rem;
    }

    .container{
        @include flexCenter;
    }

    .navbar__left{
        gap : 0;
    }

    .dropdown__content{
        width: 300px;
        height: 50vh;
        left : -50px;
    }

    .item-image img{
        width: 64px;
        height: 64px;
    }

    .item-info p{
        font-size: 1rem;
    }
}

@media (max-width : 587px){
    .navbar__header{
        font-size: 1rem;
        text-align: center;
    }

    .navbar__left{
        display: flex;
        flex-direction: column;
    }

    .dropdown__content h2{
        font-size: 1.2rem;
    }
    .list-items{
        @include flexCenter;

        li{
            margin-top: 25px;
        }
    }
}

@media (max-width : 450px){

    .main__components{
        margin: 0;
    }

    .navbar{
        padding: .6rem;
    }

    .navbar__left{
        flex-direction: row;
        justify-content: flex-start;
    }

    .navbar__header{
        min-width: 120px;
        font-size: .9rem;
    }

    .navbar-input{
        width: 120px;
        height: 20px;
    }

    .dropdown__content{
        width: 250px;
        height: 275px;
    }

    .dropdown__content h2{
        font-size: 1rem;
    }

    .items .list-items{
        gap : 1rem;
    }

    .list-items li{
        @include flexCenter;
        margin-top: 0;

        svg{
            width: 40px;
            height: 15px;
        }
    }

    .item-image img{
        width: 48px;
        height: 48px;
    }

    .item-info p{
        font-size: .7rem;
    }
}
