@import '../helpers/mixins';

.sidebar{
    width: var(--sidebar-width);
    height: 100vh;

    @include defineColors;
    
    position: fixed;
    left: 0;

    transition: 0.3s;

    margin-top : 128px;
    display: flex;
    align-items: start;
    justify-content: center;

    padding-top: 2rem;
    z-index: 1;
}

.sidebar__items{
    @include flexCenter;
    flex-direction: column;
    gap : 2.5rem;
}

.hamburger button{
    border: none;
    outline: none;
    background: none;
}

.sidebar__items > *{
    max-width: 145px;
    min-width: 60px;
    @include flexCenter;
    gap : 1.5rem;
    cursor: pointer;
    padding: .7rem;
}

.discover:hover, .sidebar__favorites:hover, .home:hover , .watchlist:hover{
    background: var(--primary-hover-color);
}

@media (max-width : 660px){
    .sidebar{
        width: 100vw;
        height: var(--sidebar-height, 60px);
        
        @include defineColors;
        
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        
        transition: 0.3s;
        
        margin-top: 0;
        @include flexCenter;
    }

    .sidebar__items{
        @include flexCenter;
        flex-direction: row;
        gap : 2rem;
        margin-top: -20px;
    }

    .hamburger{
        display: none;
    }
}

@media (max-width : 450px){
    .home svg , .discover svg , .sidebar__favorites svg{
        width: 18px;
        height: 18px;
    }
}