.container__comments{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    min-height: 400px;
    gap : 2.5rem;
}

.wrap__containers{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap : 2.5rem;
}

.comments__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    gap : 2.5rem;
    max-height: 300px;    
}

.comments__wrap.active{
    max-height: 1000px;
}

.comments__top{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: center;
    gap : 1rem;

    .user-info {
        display: flex;
        align-items: center;
        gap : 1rem;
    }
}

.comments__comment{
    overflow: hidden;

    p{
        letter-spacing: 1px;
        line-height: 1.4rem;
        overflow: hidden;
    }
}

.see-more{
    display: flex;
    cursor: pointer;
    max-width: 80px;
    margin-top: -20px;

}

.no-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    font-size: 24px;
    font-weight: 400;
}

@media (max-width : 990px){
    .container__comments h2{
        font-size: 1.2rem;
    }

    .comments__wrap{
        width: 90%;
    }

    .user-name{
        font-size: 1rem;
    }

    .published-date{
        font-size: .7rem !important;
    }

    .rating{
        font-size: .9rem;
    }

    .comments__comment p{
        font-size: .9rem;
    }
}

@media (max-width : 450px){

    .container__comments h2{
        font-size: 1rem;
    }

    .comments__comment p{
        font-size: .8rem;
        
    }

    .comments__wrap{
        width: 100%;
        padding: 1.5em;
        gap : 1rem;
    }


    .comments__top img{
        display: none;
    }

    .user-name{
        font-size: .7rem;
    }

    .published-date{
        font-size: .5rem !important;
    }

    .rating{
        font-size: .7rem;
    }

    .see-more{
        font-size: .6rem;
        font-weight: 400;
        margin-top: -3px;
    }
}