@import '../../sass/helpers/variables';
@import '../../sass/helpers/mixins';

.discover__header__wrapper{
    @include flexCenter;
    width: 100%;
    @include gradient-background(#ff6b6b, #4ecdc4);
}

.discover-content{
    display: flex;
    gap : 5rem;

    margin-top: 100px;

    height: 78vh;
}

.discover-movie-section{
    position: sticky;
    overflow-y: auto;

    height: 75vh;

    &::-webkit-scrollbar {
        width: 8px;
      }
    
      &::-webkit-scrollbar-track {
        background: #1C212E;
      }
    
      &::-webkit-scrollbar-thumb {
        background: #3a4356;
        border-radius: 4px;
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background: #4a5569;
      }
    
      scrollbar-width: thin;
      scrollbar-color: #3a4356 #1C212E;
}

.discover-icons{
    @include flexCenter;
    gap : .5rem;
}

.discover-cards-filter{
    display: flex;
    gap : 2rem;
}

.discover__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1rem;
    text-align: center;

    max-width: 1000px;

    background-size: cover;
    background-position: center;

}

@media (max-width : 1253px){
    .cards__wrapper.default-grid{
        grid-template-columns: repeat(3 , auto);
        grid-auto-flow: row;
    }
}

@media (max-width : 1007px){
    .cards__wrapper.default-grid{
        grid-template-columns: repeat(2 , auto);
        grid-auto-flow: row;
    }

    .discover-filter-section{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filters-filter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 1rem;
    }
}

@media (max-width : 729px){
    .cards__wrapper.default-grid{
        grid-template-columns: auto;
        grid-auto-flow: row;
    }

    .discover-cards-header h3{
        display: none;
    }
}

@media (max-width : 661px){
    .discover-header-section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 400px;
    }
}

@media (max-width : 586px){
    .dropdown-button{
        font-size: .9rem !important;
    }
}

@media (max-width : 450px){
    .cards__wrapper.default-grid{
        grid-template-columns: repeat(3 , auto);
    }

    .discover-d{
        margin-top: 80px;
    }

    .discover-filter-section{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .discover-header-section h2{
        font-size: 1rem;
    }

    .discover-header-section p{
        font-size: .8rem;
    }

    .filters-filter{
        min-width: 350px;
        gap : 3rem;
    }

    .all-dropdowns{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .discover-icons p{
        text-align: center;
        font-size: .8rem;
        text-wrap: nowrap;
    }

}