.discover-d{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    margin-top: 150px;
    
    color : var(--primary-font-color);
}

.discover-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    gap : 2rem;
    width: 100%;

}

.discover-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : .5rem;
}

.discover-header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    gap : 1.5rem;
}

.discover-filter-section{
    width: 80%;
    display: flex;
    justify-content: space-around; 

}

.discover-movie-section{
    margin-top: -50px;
}

.discover-cards-filter{
    display: flex;
    gap : 2rem;
}

@media (max-width : 1253px){
    .cards__wrapper.default-grid{
        grid-template-columns: repeat(3 , auto);
        grid-auto-flow: row;
    }
}

@media (max-width : 1007px){
    .cards__wrapper.default-grid{
        grid-template-columns: repeat(2 , auto);
        grid-auto-flow: row;
    }

    .discover-cards-header h3{
        min-width: 100px;
        font-size: 1rem;
    }

    .discover-filter-section{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filters-filter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 1rem;
    }
}

@media (max-width : 729px){
    .cards__wrapper.default-grid{
        grid-template-columns: auto;
        grid-auto-flow: row;
    }

    .discover-cards-header h3{
        display: none;
    }
}

@media (max-width : 661px){
    .discover-header-section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 400px;
    }
}

@media (max-width : 586px){
    .dropdown-button{
        font-size: .9rem !important;
    }
}

@media (max-width : 450px){
    .cards__wrapper.default-grid{
        grid-template-columns: repeat(3 , auto);
    }

    .discover-d{
        margin-top: 80px;
    }

    .discover-filter-section{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .discover-header-section h2{
        font-size: 1rem;
    }

    .discover-header-section p{
        font-size: .8rem;
    }

    .filters-filter{
        min-width: 350px;
        gap : 3rem;
    }

    .discover-icons p{
        text-align: center;
        font-size: .8rem;
        text-wrap: nowrap;
    }

}