@import '../../sass/tools/headerholder';
@import '../../sass/helpers/mixins';

.favorites-header{
    @extend %header-base;
    max-width: 720px;
    text-align: center;
}

.favorites__header__wrapper{
    @include flexCenter;
    width: 100%;
    @include gradient-background(#2c3e50, #4ca1af);
}

@media (max-width : 450px) {
    .favorites__header__wrapper {
        border-radius: 0%;
    }
}