@import '../../sass/helpers/variables';
@import '../../sass/tools/placeholder';
@import '../../sass//helpers/mixins';

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    margin-left: 100px;
    overflow-x: auto;

    gap : 3rem;
}

.movie__slide{
    background-size: cover;
    width: 100%;
    height: 450px;
    position: relative;
    background-repeat: no-repeat;
}

.movie__hero__section{
    display: flex;
    gap : 4rem;
}

.details__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 4rem;
    position: relative;
    margin-top: -100px;
}

.details__container > *{
    height: 400px;
}

.container-comment-similar{
    display: flex;
    flex-direction: column;
    padding-block: 2em;
    padding-inline: 4em;
    gap : 3rem;
}

.card{
    display: flex;
    border : 3px solid #D99090;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.685);
    width: 320px;
    height: 500px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie__details{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    max-width: 500px;
    align-items: start;
    justify-content: space-around;
    margin-top: 80px;
    height: 400px;
}

.movie__info__hero{
    display: flex;
    gap : 2rem;
}

.movie__info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 2.5rem;
    flex-wrap: wrap;

    &--card{
        gap : 0.5rem;
        justify-content: start;

        h4 , p{
            position: relative;
            margin-top: 0.025rem;
            font-size: .8rem;
        }
    }
}

.movie__ratings{
    @include flexCenter;
    gap : .75rem;
}

.header__section{
    display: flex;
    gap : 1.5rem;
    min-width: 500px;
}

.overview{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    justify-content: space-evenly;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #D99090 rgba(255, 255, 255, 0.403)
}

.overview p{
    font-weight: 300;
    letter-spacing: .25px;
    width: 100%;
    min-width: 580px;
    overflow: hidden;
    overflow-y: auto;
}

.buttons__section-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 1.8rem;
}


@media (max-width : 1420px){
    .card , .card img{
        width: 200px;
        height: 300px;
    }

    .overview p{
        min-width: 450px;
        font-size: .9rem;
    }
}

@media (max-width : 990px){
    .card , .card img{
        width: 150px;
        height: 250px;
    }

    .release-date{
        font-size: 1rem !important;
    }

    .header__section header{
        font-size: 1.2rem;
    }

    .overview header{
        font-size: 1rem;
    }

    .overview p{
        min-width: 400px;
        font-size: .7rem;
        font-weight: 400;
    }

    .rating__section header{
        font-size: 1.2rem;
    }

    .stars img{
        width: 16px !important;
        height: 16px !important;
    }

    .buttons__section-details{
        align-items: center;
        justify-content: start;
    }

    .button-play , .button-comments{
        flex : 0;
        min-width: 120px;
        height: 30px;
        font-size: .7rem;
    }

    .header__wrapper h2{
        font-size: 1.2rem;
    }

    .next__icons {
        display: none;
    }

    .favorites_button{
        width: 32px;
        height: 32px;
        padding: 0;
        text-align: center;
    }
}

@media (max-width : 812px){
    .card , .card img{
        width: 120px;
        height: 200px;
    }

    .release-date{
        font-size: .8rem !important;
    }

    .header__section header{
        font-size: 1rem;
    }

    .overview header{
        font-size: .8rem;
    }

    .movie__info {
        gap : .5rem;
    }

    .overview p{
        min-width: 300px;
        font-size: .6rem;
        font-weight: 400;
    }

    .rating__section header{
        font-size: 1rem;
    }

    .stars img{
        width: 12px !important;
        height: 12px !important;
    }

    .buttons__section-details{
        align-items: center;
        justify-content: start;
    }

    .button-play , .button-comments{
        flex : 0;
        min-width: 120px;
        height: 30px;
        font-size: .7rem;
    }

    .header__wrapper h2{
        font-size: 1.2rem;
    }

    .next__icons {
        display: none;
    }

    .favorites_button{
        width: 32px;
        height: 32px;
        padding: 0;
        text-align: center;
    }
}

@media (max-width : 450px){
    .details{
        margin: 0;
        overflow-x: hidden;
    }

    .details__container{
        justify-content: space-evenly;
        margin-top: 80px;
    }

    .movie__details{
        max-width: 220px;
        justify-content: space-evenly;
    }

    .card , .card img{
        width: 90px;
        height: 160px;
        box-shadow: none;
        border : 1px solid #D99090;
    }

    .release-date{
        font-size: .7rem !important;
    }

    .header__section header{
        font-size: .9rem;
    }

    .overview header{
        font-size: .7rem;
    }

    .overview{
        width: 200px;
    }

    .overview p{
        min-width: 400px;
        font-size: .5rem;
        font-weight: 400;
    }

    .rating__section{
        display: none;
    }

    .rating__section header{
        font-size: .9rem;
    }

    .stars img{
        width: 10px !important;
        height: 10px !important;
    }

    .buttons__section-details{
        align-items: center;
        justify-content: start;
    }

    .primary-button , .secondary-button{
        flex : 0;
        min-width: 80px;
        height: 22px;
        font-size: .5rem;
        border-width: 2px;
    }

    .header__wrapper h2{
        font-size: 1rem;
    }

    .next__icons {
        display: none;
    }

    .favorites_button{
        width: 24px;
        height: 24px;
        font-size: .6rem;
        padding: 0;
        text-align: center;
    }

}
