@import '../../sass/helpers/mixins';
@import '../../sass/tools/headerholder';

.watched-header{
    @extend %header-base;
}

.watched__header__wrapper{
    @include flexCenter;
    width: 100vw;
    @include gradient-background(#2c3e50, #4ca1af);

}

.no-watchlist{
    @include flexCenter;
    flex-direction: column;
    height: 100vh;
    gap : 2rem;

    margin-top: -200px;
}