@import '../../sass/helpers/mixins';
@import '../../sass/tools/headerholder';

.watched-header{
    @extend %header-base;
}

.no-watchlist{
    @include flexCenter;
    flex-direction: column;
    height: 100vh;
    gap : 2rem;

    margin-top: -200px;
}